<div class="container">
  <!-- Search and Export Dropdown -->
  <div class="d-flex justify-content-between align-items-center mt-3">
    @if (search) {
    <!-- Search -->
    <input
      class="form-control w-50"
      id="tableSearch"
      type="text"
      [(ngModel)]="searchTerm"
      (input)="onSearch($event)"
      placeholder="Search..."
    />
    }

    <!-- Export -->
    @if(showExports && tableData.length >0){
    <div class="dropdown">
      <button
        class="btn btn-secondary btn-sm dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Export
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="Export('PDF')">PDF</a></li>
        <li><a class="dropdown-item" (click)="Export('EXCEL')">EXCEL</a></li>
      </ul>
    </div>
    }
  </div>

  <!-- Table -->
  <div class="table-container mt-3">
    <table [ngClass]="tableClass" #TABLE>
      <thead>
        <ng-container
          [ngTemplateOutlet]="tableHead"
          [ngTemplateOutletContext]="{ $implicit: 'Guest' }"
        >
        </ng-container>
      </thead>
      <tbody>
        @for (item of tableData; track $index) {
        <ng-container
          [ngTemplateOutlet]="tableBody"
          [ngTemplateOutletContext]="{ $implicit: item, idx: $index }"
        >
        </ng-container>
        }@empty {
        <td [attr.colspan]="columnsNumber" class="text-center">
          No Data Found
        </td>
        }
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  @if (pagination && tableData.length >0) {
  <!-- Pagination and Page Length Dropdown -->
  <div class="pagination-container">
    <div class="row">
      <div class="col-md-9">
        <div id="paginationControls">
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-start">
              <li class="page-item" id="prevPage">
                <a
                  class="page-link"
                  aria-label="Previous"
                  [ngClass]="{
                    disabled: tableConfig.page === 1
                  }"
                  (click)="pageChange(tableConfig.page - 1)"
                >
                  <span aria-hidden="true">Previous</span>
                </a>
              </li>
              @for(num of [].constructor(tableConfig.totalPages); track $index){
              <li
                class="page-item"
                [class]="{ active: tableConfig.page === $index + 1 }"
              >
                <a class="page-link" (click)="pageChange($index + 1)">{{
                  $index + 1
                }}</a>
              </li>
              }
              <li class="page-item" id="nextPage">
                <a
                  class="page-link"
                  aria-label="Next"
                  [ngClass]="{
                    disabled: tableConfig.page === tableConfig.totalPages
                  }"
                  (click)="pageChange(tableConfig.page + 1)"
                >
                  <span aria-hidden="true">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          <span
            >showinng {{ (tableConfig.page - 1) * tableConfig.pageSize + 1 }} to
            {{ getMin(tableConfig.page * tableConfig.pageSize, totalRecords) }}
            of {{ totalRecords }}</span
          >
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <label for="pageLength" class="mr-2 mb-0">Show</label>
        <select
          id="pageLength"
          class="form-select"
          [(ngModel)]="Size"
          (change)="pageLimitChange()"
        >
          <option *ngFor="let limit of Limits" [value]="limit">
            {{ limit }}
          </option>
        </select>
        <span class="ml-2">entries</span>
      </div>
    </div>
  </div>
  }
</div>
